.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}

.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #262936;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.ourCollection {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.collectionContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.purple {
  color: #9f2c9d;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.textInput {
  width: 75%;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.imageInput {
  width: 100%;
  height: 100px;
  border: 1px dashed grey;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
}

.contractBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.contractBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 32%;
  height: 200px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  padding-top: 25px;
}

/* Between 700px and 900px */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 48%;
  }
}

@media screen and (max-width: 699px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 98%;
  }
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 19%;
  min-height: 200px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1200px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}
